.card-component {
    height: 100%;
    position: relative;
    display: flex;
}

.circle-center,
.circle-left,
.circle-right {
    background: $blue;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    bottom: 0;
    font-weight: 700;
    font-size: 24px;
    height: 180px;
    left: -35%;
    border-radius: 100px;
    margin: auto 0;
    position: absolute;
    top: 0;
    width: 180px;
}

.circle-left {
    background: $lightgreen;
    left: -30%;
}

.circle-right {
    background: $lightgreen;
    left: -40%;
}

.card {
    font-weight: bold;
    padding: 35px 35px 75px 35px;
    border-radius: 0;
    cursor: pointer;
    background-color: $grey;

    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background-color: $green;
        .card-title, .card-price {
            color: white;
        }
    }

    &-title {
        font-size: 32px;
        margin-bottom: 50px;
        font-weight: 300;
    }

    &-body {
        display: flex;
        flex-direction: column;
        flex: none;
        padding: 0;

        &-check {
            margin-right: 15px;
        }

        p {
            font-size: 22px;
            line-height: 1.5;
            min-height: 65px;
            margin: 0;
        }

        &-row {
            flex-wrap: nowrap;
            margin: 0;
        }
        
        &-subText {
            font-size:14px;
            margin-bottom: 20px;
        }
    }
    &-price {
        height: 100%;
        display: flex;
        font-size: 28px;
        align-items: flex-end;
        justify-content: center;
        span {
            font-size: 18px;
            font-weight: 400;
        }
    }
}


@media screen and (min-width: 767px) and (max-width: 1350px){
    .circle-center,
    .circle-left,
    .circle-right {
        width: 150px;
        height: 150px;
        left: -20%;
    }
    .circle-left {
        left: -15%;
    }
    
    .circle-right {
        left: -25%;
    }
}

@media screen and (min-width: 767px) and (max-width: 992px){
    .card {
        padding: 35px 35px 45px 35px;
        &-title {
            margin-bottom: 25px;
        }
        &-body {
            p {
                font-size: 18px;
            }
        }
        &-price {
            font-size: 24px;
        }
    }
}