@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
.alien-gen {
    font-family: Open Sans;
    .header {
        background: $lightgreen;
        padding: 45px;
    
        &-title {
          font-size: 32px;
          margin-bottom: 15px;
          color: grey;
        }
        
        &-key-point-wrapper {
          display: flex;
        }
        
        &-key-point {
          flex: none;
          margin: 0 15px;
          padding: 0;
        
          img {
            height: 30px;
          }
        
          &-check {
              margin-right: 15px;
          }
        }
        &-key-point-text {
            font-size: 24px;
            font-weight: 700;
        }
    }
    .card-wrapper {
        min-height: 50vh;
    }
}
@media screen and (min-width: 768px) {
    .card-wrapper,
    .wrapper {
        padding: 0;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 320px) and (max-height: 992px){
    .alien-gen {
        .header {
            padding: 25px;
        }
        .card-wrapper {
            min-height: 70vh;
        }
    }
}

