<template>
    <div class="card-component">
        <div class="card">
            <div class="card-title">{{ cardData.title }}</div>
            <div v-for="(data, index) in cardData.keyPoint" :key="index" class="card-body">
                <b-row v-if="data.text" class="card-body-row">
                    <span class="card-body-check">
                        <img src="@/assets/img/check.svg" alt="check">
                    </span>
                    <p>{{ data.text }}</p>
                </b-row>
                <b-row v-if="data.subText" class="justify-content-end">
                <div class=card-body-subText>
                    <span v-if="data.subText">{{ data.subText }}</span>
                </div>
                </b-row>
            </div>
            <div class="card-price">
                <p>{{ cardData.price }} € / <span class="card-price-year">year</span></p>
            </div>
        </div>
        <div v-if="cardData.exclusiveOffer" class="d-none d-lg-block exclusiveOffer">
            <div class="circle-left" />
            <div class="circle-right" />
            <div class="circle-center">2022 EXCLUSIVE OFFER</div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        cardData: {
            type: Object,
            required: true,
        },
    }
}
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import '~/assets/scss/_variables.scss';
@import '~/assets/scss/card.scss';

</style>
