<template>
  <div class="alien-gen">
    <b-container class="mt-3">
    <b-row align-h="center">
      <b-col class="wrapper" xs="12" md="10">
        <div class="header">
          <div class="header-title">{{ header.title }}</div>
          <div v-for="(data, index) in header.keyPoint" :key="index" class="header-key-point-wrapper">
            <span class="header-key-point">
              <img src="@/assets/img/check.svg" alt="check">
            </span>
            <p class="header-key-point-text">{{ data.text }}</p>
          </div>
        </div>
      </b-col>
    </b-row>
    <b-row align-h="center">
      <b-col v-for="data in cardData" :key="data.title" class="card-wrapper" xs="12" md="5">
        <card-component :card-data="data"/>
      </b-col>
    </b-row>
    </b-container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { 
  BContainer,
  BRow,
  BCol,
} from 'bootstrap-vue'
import CardComponent from '~/components/CardComponent.vue'
export default Vue.extend({
  components: {
    CardComponent,
    BContainer,
    BRow,
    BCol,
  },
  data: () => ({
    header: {
        title: 'All packages include',
        keyPoint: [
          { text: 'Your profile is listed on HappyConsults.com' },
          { text: 'Your profile is eligible for Corporate listing' }
        ]
    },
    cardData: [
      {
        title: 'Happiness',
        exclusiveOffer: true,
         keyPoint: [
            { text: 'Clients books directly via your website/email', subText: '(No platform fees)'},
            { text: 'Your fees are not displayed on HappyConsults.com'}
          ],
        price: '200.00'
      },
      {
        title: 'Serenity',
        exclusiveOffer: false,
        keyPoint: [
          { text: 'Invoicing managed by us', subText: '( + platform fees)' },
          { text: 'Your fees and calendar availability are visible on HappyConsults.com' }
        ],
         price: '180.00'
        }
        ,
    ],
  })
})
</script>

<style lang="scss" scoped>
@import '~/assets/scss/_variables.scss';
@import '~/assets/scss/index.scss';
</style>